@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container1 {
  display: inline-grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  gap: 2rem;
  background: #27282c;
}

.containerb iframe {
  border: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  min-height: 65vh;
  display: flex;
  justify-content: right;
  align-items: center;
  grid-column: 2/2;
  grid-row: 1/2;
  z-index: -1;
}

.container {
  position: relative;
  width: 40%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #27282c;
}

.container a {
  border-radius: 0px;
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.5rem;
  transition: 0.5s;
  grid-column: 1/1;
  grid-row: 1/1;
}

.container a:hover {
  letter-spacing: 0.25rem;
  background: var(--color);
  color: var(--color);
  box-shadow: 0 0 35px var(--color);
}

.container a::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}

.container a span {
  position: relative;
  z-index: 1;
}

.container a i {
  position: absolute;
  inset: 0;
  display: block;
}

.container a i::before {
  content: '';
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.container a:hover i::before {
  left: 20%;
  width: 20px;
}

.container a i::after {
  content: '';
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.container a:hover i::after {
  left: 80%;
  width: 20px;
}

.header {
  color: white;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #27282c;
  padding-bottom: 20px;
}

.header a {
  color: #FFAC1C;
  text-decoration: none;
  padding: 15px 35px;
  font-weight: 350;
  font-size: 40px;
}

.last {
  min-height: 66px;
  background-color: #27282c;
  color: white;
  justify-content: center;
  align-items: center;
}

.finaltext {
  padding-left: 1230px;
  font-weight: 300;
  font-size: 15px;
}
